@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Titillium+Web&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #bbdefb;
}

.mycontainer{
    
    margin-top: 25px;
    align-content: center;
    background-color: #ffff;
    border-radius: 20px;
}

#grid{
    overflow-x: scroll;
}


